@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --pure-white: rgba(255, 255, 255, 1);
  --text-black: rgba(55, 55, 55, 1);
  --secondary-bg-color: rgb(29, 29, 29, 1);
}

.feature-card :hover {
  background-color: #2e2e2e;
}

.bg-custom-yellow {
  background-color: #323232;
}
